<%= render 'layouts/success_message' %>

<div class="container">
	<div class="col-md-offset-1">
		<h2 class="signin-title">ジャンル一覧・追加</h2>
	</div>
	<!-- ジャンル新規登録 -->
	<%= render "layouts/errors", validation: @genre %>
	<div class="new-genre col-md-11 col-md-offset-1">
		<div class="col-md-12">ジャンル</div>
		<%= form_for @genre do |f| %>
			<div class="col-sm-4 col-lg-3"><%= f.text_field :genre %></div>
			<div class="col-sm-3 col-lg-2">
				<label><%= f.radio_button :is_active, true %> 有効</label>
				<label><%= f.radio_button :is_active, false %> 無効</label>
			</div>
			<div class="col-sm-3 col-lg-1"><%= f.submit "追加",class: "btn btn-primary btn-block" %></div>
		<% end %>
	</div>
	<!-- ジャンル新規登録 -->

	<!-- ジャンル一覧 -->
	<div class="col-md-8 col-md-offset-1">
		<table class="table">
			<thead>
				<tr class="active">
					<th>ジャンル</th>
					<th>状態</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @genres.each do |genre| %>
					<tr>
						<td class="word-break"><%= genre.genre %></td>
						<td class="nowrap">
							<% if genre.is_active %>
								<p>有効</p>
							<% else %>
								<p>無効</p>
							<% end %>
						</td>
						<td class="nowrap">
							<%= link_to "編集する", edit_genre_path(genre) %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<div class="col-xs-12 center">
			<%= paginate @genres %>
		</div>
	</div>
	<!-- ジャンル一覧 -->
	</div>
</div>
