<div class="container">
	<div class="row">
		<h2>ジャンル一覧・追加</h2>
	</div>
	<div class="row" style="margin: 50px 0 50px 0;">
		<div class="col-lg-1">ジャンル</div>
		<%= form_for @genre do |f| %>
			<div class="col-lg-2"><%= f.text_field :genre %></div>
			<div class="col-lg-2">
				<label><%= f.radio_button :is_active, true %> 有効</label>
				<label><%= f.radio_button :is_active, false %> 無効</label>
			</div>
			<div class="col-lg-1"><%= f.submit "追加",class: "btn btn-primary btn-block" %></div>
		<% end %>
	</div>
	<div class="row" style="margin-bottom: 20px;font-weight: bold; ">
		<div class="col-xs-2">ジャンル</div>
		<div class="col-xs-2">状態</div>
		<div class="col-xs-2"></div>
	</div>
	<div style="margin: 10px 0;">
		<% @genres.each do |genre| %>
			<div class="row" style="margin-top: 10px;">
				<div class="col-xs-2"><%= genre.genre %></div>
				<div class="col-xs-2">
					<% if genre.is_active %>
						<p>有効</p>
					<% else %>
						<p>無効</p>
					<% end %>
				</div>
				<div class="col-xs-2"><%= link_to "編集する", edit_genre_path(genre) %></div>
			</div>
		<% end %>
	</div>
	</div>
</div>
