<% messages.each do |message| %>
  <% if message.user.id == current_user.id %>
    <!-- ログインユーザメッセージ -->
    <div class="col-xs-9 col-xs-offset-3 col-md-5 col-md-offset-7 mymessage">
      <div class="col-xs-10">
        <b><%= simple_format(message.message) %></b> <br>
        <%= message.created_at.strftime("%Y-%m-%d %H:%M")%>
      </div>
    </div>
    <!-- ログインユーザメッセージ -->
  <% else %>

    <!-- 相手のメッセージ -->
    <div class="col-xs-12">
      <div class="col-xs-9 col-md-5 other-message">
        <div class="col-xs-4 col-sm-2 col-md-2">
          <%= attachment_image_tag message.user, :profile_image, size: "50x50", format: "jpeg", class: "img-circle pull-left", fallback: "no_image_square.jpg" %>
        </div>
        <div class="col-xs-8 col-sm-10 col-md-10">
          <b><%= simple_format(message.message) %></b> <br>
          <%= message.created_at.strftime("%Y-%m-%d %H:%M")%>
        </div>
      </div>
    </div>
    <!-- 相手のメッセージ -->
  <% end %>
<% end %>
<div class="col-xs-12 fixed-space"></div>