<% if flash[:alert] %>
  <div class="alert alert-success">
    <%= flash[:alert] %>
  </div>
<% end %>
<div class="container">
	<div class="row">
		<!-- ユーザプロフィール -->
		<div class="col-sm-5 col-md-2 profile-image">
			<%= attachment_image_tag @user, :profile_image, size: "200x200", format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image_square.jpg" %>
		</div>
		<div class="col-md-9 col-md-offset-1">
			<%if @user.nickname.blank? %>
				<h2 class="profile"><%= @user.name %></h2>
			<% else %>
				<h2 class="profile"><%= @user.nickname %></h2>
			<% end %>
		</div>

		<div class="col-md-2 col-md-offset-1">	
			<h4><%= @user.status %></h4>
		</div>
		<!-- ユーザプロフィール -->

		<!-- マイページ用リンク -->
		<% if @user == current_user %>
			<div class="col-md-5">
				<div class="col-md-12 user-link">			
					<%= link_to "登録情報を編集する", edit_user_path(current_user) %>
				</div>

				<div class="col-md-12 bookmark-link">			
					<%= link_to "お気に入り", bookmarks_path %>
				</div>

				<% if ["講師","有料会員"].include?(@user.status) %>
					<%= link_to "作品を投稿する", new_picture_path, class: "btn btn-primary", style: "margin-right: 10px;" %>
					<%= link_to "チャットする", rooms_path, class: "btn btn-warning", style: "margin-right: 10px;" %>	
				<% end %>
			</div>
		<% end %>
		<!-- マイページ用リンク -->

		<!-- 講師専用リンク -->
		<% unless @user == current_user || ['講師'].include?(@user.status) || ['有料会員','無料会員'].include?(current_user.status)%>
			<div class="col-md-7">
				<table class="table table-bordered">
					<tbody>
						<tr>
							<th class="warning">氏名</th>
							<td><%= @user.name %></td>
						</tr>
						<tr>
							<th class="warning">氏名(かな)</th>
							<td><%= @user.name_kana %></td>
						</tr>
						<tr>
							<th class="warning">郵便番号</th>
							<td><%= @user.postal_code %></td>
						</tr>
						<tr>
							<th class="warning">住所</th>
							<td><%= @user.address %></td>
						</tr>
						<tr>
							<th class="warning">電話番号</th>
							<td><%= @user.telephone_number %></td>
						</tr>
						<tr>
							<th class="warning">メールアドレス</th>
							<td><%= @user.email %></td>
						</tr>
					</tbody>
				</table>
				<div class="user-link">
					<%= link_to "登録情報を編集する", edit_user_path(@user) %>
				</div>
		<% end %>
		<% unless @user.is_deleted == true %>
			<% unless @user == current_user || ['無料会員'].include?(@user.status) || ['有料会員','無料会員'].include?(current_user.status)%>
					<% if @isRoom == true %>
			  		<%= link_to "チャットする", room_path(@roomId), class: "btn btn-primary" %>
			  	<% else %>
			   		<%= form_for @room do |f| %>
			      	<%= fields_for @entry do |e| %>
			        	<%= e.hidden_field :user_id, value: @user.id %>
			     	  <% end %>
			      	<%= f.submit "この人とチャットを始める", class:"btn btn-primary"%>
			    	<% end %>
			  	<% end %>
			  </div>
			<% end %>
		<% end %>
		<!-- 講師専用リンク -->
	</div>
</div>

<div class="container">
	<!-- @userの投稿イラスト一覧 -->
	<% if  @illustration_pictures.exists? %>
		<h2 class="picture-title">イラスト</h2>
		<%= render "pictures/users_picture", pictures:  @illustration_pictures %>
	<% end %>

	<% if  @illustration_pictures.count > 4 %>
		<div class="pull-right">
			<%= link_to "もっと見る", controller: "pictures", action: "illustrations", user_id: @user.id %>
		</div>
	<% end %>
	<!-- @userの投稿イラスト一覧 -->

	<!-- @userの投稿マンガ一覧 -->
	<% if @comic_pictures.exists? %>
		<h2 class="picture-title">マンガ</h2>
		<%= render "pictures/users_picture", pictures:  @comic_pictures %>
	<% end %>

	<% if @comic_pictures.count > 4 %>
		<div class="pull-right">
			<%= link_to "もっと見る", controller: "pictures", action: "comics", user_id: @user.id %>
		</div>
	<% end %>
	<!-- @userの投稿マンガ一覧 -->

	<!-- 未投稿時及び無料会員用オススメ一覧(ログインユーザのみ) -->
	<%if @user == current_user %>
		<% if @user.pictures.empty? || @illustration_pictures.empty? && @comic_pictures.empty? %>
			<h2 class="picture-title">おすすめ作品</h2>
			<div class="picture-image">
				<%= render "pictures/picture_index", pictures:  @pictures %>
			</div>

	　　<% if @pictures.count > 4 %>
				<div class="pull-right">
					<%= link_to "もっと見る", pictures_path %>
				</div>
			<% end %>
		<% end %>
	<% end %>
	<!-- 未投稿時及び無料会員用オススメ一覧(ログインユーザのみ) -->
</div>