<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>パスワード変更フォーム</h2>
    </div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="col-xs-12">
        <div class="col-sm-5 col-md-4 form-space">
          <label>新しいパスワード</label>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上入力してください)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="col-sm-5 col-md-4 form-space">
          <label>新しいパスワード(確認用)</label><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="col-xs-12 form-space">
          <%= f.submit "パスワード更新", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>

    <div class="col-xs-12">
      <div class="col-xs-12 form-space">
        <%= link_to "登録がお済みでない方はこちら", new_user_registration_path %>
      </div>
      <div class="col-xs-12">
        <%= link_to "登録がお済みの方はこちら", new_user_session_path %>
      </div>
    </div>
  </div>
</div>
