<div class="container">
  <div class="row">
  	<div class="col-xs-12">
			<h2>パスワード変更依頼</h2>
		</div>

		<div class="col-xs-12">
			<p class="attention">入力したメールアドレスにパスワード変更フォームリンクを送付します。</p>
		</div>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= render "devise/shared/error_messages", resource: resource %>

		  <div class="col-sm-5 col-md-3 form-space">
		    <%= f.label :email %><br />
		    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
		  </div>

		  <div class="col-xs-12 form-space">
		    <%= f.submit "パスワード変更依頼", class: "btn btn-primary" %>
		  </div>
		<% end %>

		<div class="col-xs-12 form-space">
			<%= link_to "登録がお済みでない方はこちら", new_user_registration_path %>
		</div>
		<div class="col-xs-12">
			<%= link_to "登録がお済みの方はこちら", new_user_session_path %>
		</div>
	</div>
</div>
