<div class="favorite-bookmark">
	<% unless picture.user == current_user %> 
		<% if picture.bookmark_by?(current_user) %>
			<%= link_to "お気に入りを外す", picture_bookmarks_path(picture), method: :delete, remote: true, class: "btn btn-warning",style: "margin-top: 15px;" %>
		<% else %>
			<%= link_to "お気に入り登録", picture_bookmarks_path(picture), method: :post, remote: true, class: "btn btn-success",style: "margin-top: 15px;" %>
		<% end %>
	<% end %>

	<% if picture.favorited_by?(current_user) %>
		<%= link_to picture_favorites_path(picture), method: :delete, style: "color: red; margin: 30px 20px 0 0;", remote: true do %>
			<i class="glyphicon glyphicon-heart" ></i>
			<%= picture.favorites.count %>いいね
		<% end %>
	<% else %>
		<%= link_to picture_favorites_path(picture), method: :post, style: "color: black; margin: 30px 20px 0 0;", remote: true do %>
			<i class="glyphicon glyphicon-heart-empty"></i>
			<%= picture.favorites.count %>いいね
		<% end %>
	<% end %>
</div>