<%= form_with model:[picture], local: true do |f| %>
	<div class="col-sm-4 col-md-7 preview_image">
		<%= f.attachment_field :picture_images_images, multiple: true, class: "form-space" %>
		<!-- 画像プレビュー機能 -->
		<div id="preview">
			<% @picture.picture_images.each do |picture_image| %>
				<%= attachment_image_tag picture_image, :image, format: 'jpeg', fallback: "no_image_square.jpg", size: "150x150"  ,class:"uploaded_image" %>
			<% end %>
		</div>
		<!-- 画像プレビュー機能 -->
	</div>

	<div class="col-sm-5 col-sm-offset-1 col-md-3">
		<div class="form-space">
			<label><%= f.radio_button :status, :マンガ %> マンガ</label>
			<label>
				<%= f.radio_button :status, :イラスト, style: "margin-left: 50px;" %> イラスト
			</label>
		</div>

		<div class="title-space">
			<label class="title-space">タイトル</label><br>
			<%= f.text_field :title, class: "form-control" %><br>
			<label>説明</label><br>
			<%= f.text_area :introduction, class: "form-control", size: "5x5" %><br>
			<label class="space">ジャンル</label>
			<%= f.collection_select :genre_id, Genre.where(is_active: true), :id, :genre %><br>
	  </div>

		<%= f.submit "投稿する", class: "btn btn-primary btn-block", style: "margin-top: 20px;" %>
	</div>
<% end %>

