<% pictures.each do |picture| %>
	<% if picture.user.is_deleted == false %>
		<div class="picture-space">
			<%= link_to picture_path(picture), style:"margin-bottom: 50px;" do %>
				<%= attachment_image_tag picture.picture_images[0], :image, size: "170x170", format: 'jpeg', fallback: "no_image_square.jpg", style: "border-radius: 10px;" %><br>
				<%= picture.title %><br>
			<% end %>
			<%= link_to user_path(picture.user)do %>
				<%= attachment_image_tag picture.user, :profile_image, size: "50x50", format: 'jpeg', fallback: "no_image_square.jpg", class: "img-circle" %>
				<% if picture.user.nickname.blank? %>
					<%= picture.user.name %>
				<% else %>
					<%= picture.user.nickname %>
				<% end %>
			<% end %>		
		</div>
	<% end %>
<% end %>
