<div class="container">
	<div class="row">
		<h1 class="signin-title index-pagetitle">イラスト</h1>
		<!-- ユーザ詳細画面で「もっと見る」を押したときの処理 -->
		<% if params[:user_id] %>
			<div class="col-md-12 picture-image">
				<%= render "picture_index", pictures: @pictures %>
			</div>
			<div class="col-xs-12 center">
				<%= paginate @pictures %>
			</div>
		 	<!-- ユーザ詳細画面で「もっと見る」を押したときの処理 -->

		<% else %>
			<!-- ジャンル検索、イラストリンクを押したときの処理 -->
			<div class="col-md-3">
				<table class="genre-search">
					<thead>
						<tr>
							<th class="text-center">ジャンル検索</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><%= link_to ' マンガ', comics_path %></td>
						</tr>
						<% @genres.each do |genre| %>
							<tr>
								<td class="word-break">
									<%= link_to genre.genre, controller: "pictures", action: "illustrations", genre_id: genre.id %>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<div class="col-md-8 col-md-offset-1 picture-image">
				<%= render "recommendation_picture", pictures: @pictures %>
				<div class="col-xs-12 center">
					<%= paginate @pictures %>
				</div>
			</div>
			<!-- ジャンル検索、イラストリンクを押したときの処理 -->
		<% end %>
	</div>
</div>