<div class="container">
	<div class="row">
		<% if params[:user_id] %>
			<!-- 作品詳細で「もっと見る」を押したときの処理 -->
			<% if @user.nickname == nil %>
				<h1 class="signin-title"><%= @user.name %>さんのマンガ・イラスト</h1>
			<% else %>
				<h1 class="signin-title"><%= @user.nickname %>さんのマンガ・イラスト</h1>
			<% end %>
			<div class="col-md-12 picture-image">
				<%= render "picture_index", pictures: @pictures %>
			</div>
			<!-- 作品詳細で「もっと見る」を押したときの処理 -->

		<% else %>
			<!-- オススメ作品、作品一覧を押したときの処理 -->
			<% if current_user.status == "講師" %>
				<h1 class="signin-title">作品一覧</h1>
			<% else %> 
				<h1 class="signin-title">おすすめ作品</h1>
			<% end %>
			<%= render "genres/genre", genres: @genres %>
			<div class="col-md-9 picture-image">
				<%= render "picture_index", pictures: @pictures %>
			</div>
			<!-- オススメ作品、作品一覧を押したときの処理 -->
		<% end -%>
	</div>
</div>