<div class="container">
	<div class="row">
		
		<div class="col-md-6 col-md-offset-1">
			<div id="slider" dir="rtl" class="pictures">
				<% @picture_images.each do |picture_image| %>
					<%= attachment_image_tag picture_image, :image, size: "396x558", format: 'jpeg', fallback: "no_image_square.jpg" %>
				<% end %>
			</div>
			<div class="col-md-12 picture-details">
				<div class="favorite-bookmark">
					<% if @picture.user == current_user %>
						<%= link_to "この作品を削除", picture_path(@picture), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger",style: "margin-top: 15px;" %>
					<% end %> 
					<div class="picture_<%= @picture.id %>">
						<%= render 'favorite_bookmark', picture: @picture %>
					</div>
				</div>

				<h2 class="image-title"><%= @picture.title %></h2>

				<h6>
					<%= link_to user_path(@picture.user) do %>
						<%= attachment_image_tag @picture.user, :profile_image, size: "50x50", format: 'jpeg', fallback: "no_image_square.jpg", class: "img-circle" %>
						<% if @picture.user.nickname == nil %>
							<%= @picture.user.name %>
						<% else %>
							<%= @picture.user.nickname %>
						<% end %>
					<% end %>
				</h6>

				<p><%= @picture.introduction %></p>
			</div>
			<div class="col-md-12 comment">
				<h3>コメント</h3>
				<%= form_with model:[@picture, @comment], data: {remote: true} do |f| %>
	        		<%= f.text_area :comment, rows: "4", class: "form-control" %>
	        		<%= f.submit '送信' %>
	     		<% end %>
	    	</div>

			<div class="comment_<%= @picture.id %>">
				<%= render 'comments/index', picture: @picture  %>
			</div>
		</div>

		<div class="col-md-3 col-md-offset-1 picture-user">
			<div class="profile-image">
				<%= link_to user_path(@picture.user) do %>
					<%= attachment_image_tag @picture.user, :profile_image, size: "150x150", format: 'jpeg', fallback: "no_image_square.jpg", class: "img-circle" %>
				<% end %>
			</div>

			<table class="table">
				<tbody>
					<% if @picture.user.nickname == nil %>
						<tr>
							<th>名前</th>
							<th><%= link_to @picture.user.name, user_path(@picture.user) %></th>
						</tr>
					<% else %>
						<tr>
							<th>ニックネーム</th>
							<th><p><%= link_to @picture.user.nickname, user_path(@picture.user) %></p></th>
						</tr>
					<% end %>
						<tr>
							<th>ステータス</th>
							<th><p><%= @picture.user.status %></p></th>
						</tr>
				</tbody>
			</table>

			<% if @picture.user == current_user %>
				<%= link_to "作品を投稿する", new_picture_path, class: "btn btn-primary", style: "margin-bottom: 10px; padding: 8px 90px;" %>
			<% end %>

			<h5><b>投稿作品</b></h5>
			<table class="table">
				<tbody>
					<tr>	
						<% @pictures.each do |picture| %>
							<td>
								<%= link_to picture_path(picture)do %>
									<%= attachment_image_tag picture.picture_images[0], :image, size: "80x80", format: 'jpeg', fallback: "no_image_square.jpg", style: "margin: 0;" %><br>
									<%= picture.title %>
								<% end %>
							</td>
						<% end %>
					</tr>
				</tbody>
			</table>
			<% if @picture.user.pictures.count > 3 %>
				<%= link_to 'もっと見る', controller: "pictures", action: "index", user_id: @picture.user_id %>
			<% end %>
		</div>
	</div>
</div>
