<div class="container">
	<div class="row">
		
		<div class="col-md-5 col-md-offset-2">
			<% @picture_images.each do |picture_image| %>
				<%= attachment_image_tag picture_image, :image, size: "396x558", format: 'jpeg', fallback: "no_image_square.jpg", style: "margin-top:20px;" %>
			<% end %>
		</div>

		<div class="col-md-3 col-md-offset-1">
			<div class="profile-image">
				<%= attachment_image_tag @picture.user, :profile_image, size: "150x150", format: 'jpeg', fallback: "no_image_square.jpg", class: "img-circle" %>
			</div>

			<table class="table">
				<tbody>
					<% if @picture.user.nickname == nil %>
						<tr>
							<th>名前</th>
							<th><p><%= @picture.user.name %></p></th>
						</tr>
					<% else %>
						<tr>
							<th>ニックネーム</th>
							<th><p><%= @picture.user.nickname %></p></th>
						</tr>
					<% end %>
				</tbody>
			</table>

			<h5><b>投稿作品</b></h5>
			<table class="table">
				<tbody>
					<tr>	
						<% @pictures.each do |picture| %>
							<td>
								<%= link_to picture_path(picture)do %>
									<%= attachment_image_tag picture.picture_images[0], :image, size: "80x80", format: 'jpeg', fallback: "no_image_square.jpg", style: "margin: 0;" %>
									<%= picture.title %>
								<% end %>
							</td>
						<% end %>
					</tr>
				</tbody>
			</table>
			<%= link_to 'もっと見る', controller: "pictures", action: "index", user_id: @picture.user_id %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-2 picture-details">
			<div class="favorite-bookmark">
				<% unless @picture.user == current_user %> 
					<% if @picture.bookmark_by?(current_user) %>
						<%= link_to "お気に入りを外す", picture_bookmarks_path(@picture), method: :delete, class: "btn btn-warning",style: "margin-top: 15px;" %>
					<% else %>
						<%= link_to "お気に入り登録", picture_bookmarks_path(@picture), method: :post, class: "btn btn-success",style: "margin-top: 15px;" %>
					<% end %>
				<% end %>

				<% if @picture.favorited_by?(current_user) %>
					<%= link_to picture_favorites_path(@picture), method: :delete, style: "color: red; margin: 30px 20px 0 0;" do %>
						<i class="glyphicon glyphicon-heart" ></i>
						<%= @picture.favorites.count %>いいね
					<% end %>
				<% else %>
					<%= link_to picture_favorites_path(@picture), method: :post, style: "color: black; margin: 30px 20px 0 0;" do %>
						<i class="glyphicon glyphicon-heart-empty"></i>
						<%= @picture.favorites.count %>いいね
					<% end %>
				<% end %>
			</div>

			<h2><%= @picture.title %></h2>

			<h6>
				<%= link_to user_path(@picture.user) do %>
					<%= attachment_image_tag @picture.user, :profile_image, size: "50x50", format: 'jpeg', fallback: "no_image_square.jpg", class: "img-circle" %>
					<% if @picture.user.nickname == nil %>
						<%= @picture.user.name %>
					<% else %>
						<%= @picture.user.nickname %>
					<% end %>
				<% end %>
			</h6>

			<p><%= @picture.introduction %></p>
		</div>
	</div>
</div>
