<div class="container">
	<div class="row">
		<h2 class="signin-title"><%= params[:word] %>検索結果</h2>
		<!-- ユーザ検索結果 -->
		<% if @range == '1' %>
			<% if @users.exists? %>
				<div class="col-sm-6 col-sm-offset-3">
					<table class="table">
						<thead>
							<tr class="active">
								<th>会員ステータス</th>
								<th>名前</th>
							</tr>
						</thead>
						<tbody>
							<% @users.each do |user| %>
								<tr>
									<td><%= user.status %></td>
									<td>
										<% if user.nickname.blank? %>
											<%= link_to user.name, user_path(user) %>
										<% else %>
											<%= link_to user.nickname, user_path(user) %>
										<% end %>
									</td>
								</tr>
							<% end %>	
						</tbody>
					</table>
				</div>
			<% else %>
			  <p class="nothing">該当するユーザはいません</p>
			<% end %>
			<!-- ユーザ検索結果 -->

		<% elsif @range == '4'%>
			<!-- ジャンル検索結果 -->
			<% if @genres.exists? %>
				<div class="picture-image">
					<% @genres.each do |genre| %>
						<%= render "pictures/picture_index", pictures: genre.pictures %>
					<% end %>
				</div>
			<% else %>
				<p class="nothing">該当するジャンルはいません</p>
			<% end %>
			<!-- ジャンル検索結果 -->

		<% else %>
			<!-- イラストまたはマンガ検索結果 -->
			<% if @pictures.exists? %>
				<div class="picture-image">
					<%= render "pictures/picture_index", pictures: @pictures %>
				</div>
			<% else %>
				<p class="nothing">該当する作品はいません</p>
			<% end %>
			<!-- イラストまたはマンガ検索結果 -->
		<% end %>
	</div>
</div>