<div id="footer" class="container">
  <div class="row">
    <div class="col-xs-12 fixed-space"></div>
    <div class="col-xs-12 chat-title" style="position: fixed;">
      <h2><%= @entry[0].user.name %></h2>
    </div>
    <!-- メッセージ一覧 -->
    <div class="message">
      <%= render "messages/message", messages: @messages %>
    </div>
    <!-- メッセージ一覧 -->

    <!-- メッセージ送信 -->
    <div class="col-xs-12 message-form" style="position: fixed;">
      <div class="col-md-6 col-md-offset-2 message-form">
        <%= form_with model: @message, data: {remote: true} do |f| %>
          <%= f.text_area :message, rows:"4", placeholder: "メッセージを入力して下さい" , class:"form-control" %>
          <%= f.hidden_field :room_id, value: @room.id %>
          <%= f.submit "送信",class: 'form-submit'%>
        <% end %>
      </div>
    </div>
    <!-- メッセージ送信 -->
  </div>
</div>



