<div class="container">
  <div class="row">
    <h2 class="chat-title">チャット</h2>
    <div class="col-md-5">
      <%= form_with model: @message, data: {remote: true} do |f| %>
        <%= f.text_field :message, placeholder: "メッセージを入力して下さい" , size: 50, class:"form-control" %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.submit "投稿",class: 'form-submit'%>
      <% end %>
    </div>
  </div>
</div>

<div class="container message">
  <%= render "messages/message", messages: @messages %>
</div>

