<div class="container">
  <div class="row">
    <%= form_for @inquiry, :url => inquiries_confirm_path do |f| %>
      <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 form-background">
        <h1 class="text-center inquiry-title">お問い合わせ</h1>

        <div class="col-md-10 form-space">
          <label>名前<span class="text-danger">（必須）</span></label><br>
          <%= f.text_field :name, placeholder: "山田太郎", class: "form-control", :required => true  %>
        </div>

        <div class="col-md-10 form-space">
          <label>メールアドレス<span class="text-danger">（必須）</span></label><br>
          <%= f.text_field :email, placeholder: "example@email.com", class: "form-control", :required => true %>
        </div>

        <div class="col-md-12 form-space">
          <label>お問い合わせ内容</label><br>
          <%= f.text_area :message, class: "form-control", size: "0x6", :required => true %>
        </div>

        <div class="col-md-12 form-space">
          <%= f.submit '確認', class: 'btn btn-primary btn-block' %>
        </div>
      </div>
    <% end %>
  </div>
</div>  