<!DOCTYPE html>
<html>
  <head>
    <title>ComicPost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar-header navbar-fixed-top " >
      <div class="container">

        <nav class="nav navbar-nav navbar-left">
          <% if user_signed_in? %>
            <%= link_to user_path(current_user) do %>
              <span>ComicPost</span>
              <%= attachment_image_tag current_user, :profile_image, size: "50x50", format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "sketch.jpg" %>
            <% end %>
          <% else %>
            <%= link_to root_path, class: "navbar-brand" do %>
              <span>ComicPost</span>
            <% end %>
          <% end %>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to ' マンガ', picture_contents_path, class: 'glyphicon glyphicon-book' %></li>
              <li><%= link_to ' イラスト', picture_contents_path, class: 'glyphicon glyphicon-picture' %></li>
              <li><%= link_to ' logout', destroy_user_session_path, method: :delete, class: 'glyphicon glyphicon-log-out logout' %></li>
            <% else %>
              <li><%= link_to ' お問い合わせ', contact_path, class: 'glyphicon glyphicon-envelope' %></li>
              <li><%= link_to ' 新規登録', new_user_registration_path, class: 'glyphicon glyphicon-edit sign_up' %></li>
              <li><%= link_to ' ログイン', new_user_session_path, class: 'glyphicon glyphicon-log-in sign_in' %></li>
            <% end %>
          </ul>
        </nav>

      </div>
    </header>

      <%= yield %>
       
  </body>
</html>
